.carousel-control.left {
    background-image: none;
}

.carousel-control.right {
    background-image: none;
}

.image-cover {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-contain {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
}