@mixin gradient-down($color-top, $color-middle, $color-bottom, $color-middle-position: '') {
    background: $color-top; /* Old browsers */
    background: -moz-linear-gradient(top, $color-top 0%, $color-middle $color-middle-position, $color-bottom 100%);
    background: -webkit-linear-gradient(top, $color-top 0%, $color-middle $color-middle-position, $color-bottom 100%);
    background: linear-gradient(to bottom, $color-top 0%, $color-middle $color-middle-position, $color-bottom 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-top', endColorstr='$color-bottom',GradientType=0 );
}

@mixin content-padding($size: 3rem) {
    padding: $size;
}

@mixin content-padding-tb($size: 3rem) {
    padding-top: $size;
    padding-bottom: $size;
}

@mixin content-padding-lr($size: 3rem) {
    padding-left: $size;
    padding-right: $size;
}

@mixin content-margin($size: 3rem) {
    margin: $size;
}

@mixin content-margin-tb($size: 3rem) {
    margin-top: $size;
    margin-bottom: $size;
}

@mixin content-margin-lr($size: 3rem) {
    margin-left: $size;
    margin-right: $size;
}

@mixin font-sizing($size) {
    font-size: #{$size};
    font-size: px-to-rem($size);
}