$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

$navbar-height: 60px;
// $navbar-default-bg: $color-primary;
// $navbar-default-border: $color-primary;
// $navbar-default-link-color: $color-primary-highlight;
$navbar-margin-bottom: 0;

$icon-font-path: '../fonts/bootstrap/';
$fa-font-path:  '../fonts/font-awesome';